<div class="small-12 medium-6 large-4 end columns">
	<div class="profile-wrapper">
  	<%= link_to user_path(user.id) do %>
	  	<div class="profile-card">
		    <%= image_tag(user.profile_picture) %>
		    <div class="profile-info">
		      <h4 class="subheader"><%= truncate("#{user.first_name} #{user.last_name}", :length => 15) %></h4>
		      <p><strong><%= user.location %></strong></p> 
		      <p><%= truncate(user.email, length: 30) %></p>
		    </div>
	  	</div>
	  <% end %>
	</div>
</div>