<h1>New User Sign-up</h1>

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>Invalid entries</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
		<div class="medium-6 columns">
      <div class="row collapse">
        <div class="small-4 columns">
          <%= f.label(:first_name, {class: :prefix}) %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field(:first_name, {placeholder: "Tester"}) %>
        </div>
      </div>
    	<div class="row collapse">
        <div class="small-4 columns">
          <%= f.label(:last_name, {class: :prefix}) %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field(:last_name, {placeholder: "McTest"}) %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-4 columns">
          <%= f.label(:email, {class: :prefix}) %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field(:email, {placeholder: "tester@mctest.com"}) %>
        </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="small-4 columns">
          <%= f.label(:location, {class: :prefix}) %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field(:location, {placeholder: "Toronto"}) %>
        </div>
      </div>
    	<div class="row collapse">
        <div class="small-4 columns">
          <%= f.label(:bio, {class: :prefix}) %>
        </div>
        <div class="small-8 columns">
          <%= f.text_area(:bio, {placeholder: "Tell us a little about yourself", class: "bio-text"}) %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  	<div class="medium-12 columns">
			<%= f.label "Profile picture" %>
			<%= f.file_field "image_attributes[picture]" %>
		</div>
	</div>
  <div class="row">
		<div class="medium-6 columns">
      <div class="row collapse">
        <div class="small-4 columns">
          <%= f.label(:password, {class: :prefix}) %>
        </div>
        <div class="small-8 columns">
          <%= f.password_field(:password, {placeholder: "********"}) %>
        </div>
      </div>
    </div>
    <div class="medium-6 columns">
    	<div class="row collapse">
        <div class="small-4 columns">
          <%= f.label(:password_confirmation, {class: :prefix}) %>
        </div>
        <div class="small-8 columns">
          <%= f.password_field(:password_confirmation, {placeholder: "********"}) %>
        </div>
      </div>
    </div>
  </div>
  <h3>Roles</h3>
    <div class="actions">
    <%= f.fields_for :roles do |role| %>
      <%= render "role_fields", f: role %>    
    <% end %>
    <div class="links">
    <%= link_to_add_association "Add Role", f, :roles, ({class: "button round success small"}) %>
    </div>
  </div>
  <h3>Skills</h3>
    <div class="actions">
    <%= f.fields_for :skills do |skill| %>
      <%= render "skill_fields", f: skill %>    
    <% end %>
    <div class="links">
    <%= link_to_add_association "Add Skill", f, :skills, ({class: "button round success small"}) %>
    </div>
  </div>
	<div class="actions">
		<%= f.submit ({class: :button}) %>
	</div>
<% end %>