<!-- MAIN SECTION -->
<section class="main-section margin-top">
  <div class="row">

    <div class="large-4  medium-3 columns">
      <figure class="figure profile-image">
        <%= image_tag(@user.profile_picture) %>
      </figure><!-- / FIGURE-->
    </div><!-- / COLUMN-->


    <div class="large-8  medium-9 columns">
      <div class="row">
        <h3><%= @user.first_name %> <%= @user.last_name %> &nbsp
          <% if current_user %>
            <% if current_user.id == @user.id %>
              <p><%= link_to "Edit", edit_user_path(@user) %></p>
            <% end %>
          <% end %>
        </h3>
        <h8><%= @user.location %> | <%= @user.email %> | </h8>
        <% @user.roles.each do |role| %>
          <%= role.name %>, &nbsp
        <% end %>
      </div>
    
      <hr>

      <p><%= @user.bio %></p>

      <hr>
      
      Owned Projects:
      <% @user.owned_projects.each do |project| %>
        <%= link_to project.name, project_path(project) %> &nbsp
      <% end %>

      <br>
      
      <hr>
      
      Projects Contributed To:
      
      <br>
      
      <% @user.positions.each do |position| %>
        <%= link_to position.project.name, project_path(position.project) %> &nbsp
      <% end %>
      
      <hr>
    
      <%= render partial: 'users/skill', collection: @user.skills %>
      
      <br>

    </div><!-- / COLUMN-->
  </div><!-- / ROW-->
</section><!-- / SECTION-->