<!-- MAIN SECTION -->
<section class="main-section margin-top">
<div class="row">

    <div class="large-4  medium-3 columns">
      <figure class="figure">
        <img class="th" <%= image_tag(current_user.profile_picture) %>
      </figure><!-- / FIGURE-->
    </div><!-- / COLUMN-->

    <div class="large-8  medium-9 columns">
          <div class="row">
          <h3><%= @user.first_name %> <%= @user.last_name %> </h3>
          <h8><%= @user.location %> | <%= @user.email %> | </h8>
          <% @user.roles.each do |role| %>
          <%= role.name %>, &nbsp
          <% end %>
          </div>
          <hr>

          <p><%= @user.bio %></p>

          <hr>
          Owned Projects:
          <% @user.owned_projects.each do |project| %>
          <%= link_to project.name, project_path(project) %> &nbsp
          <% end %>

          <br>
          <hr>
          <ul class=" inline-list ">
          <% @user.skills.each do |skill| %>
              <li><span class="label secondary"><i class="fi-check size-12"></i> &nbsp;  <%= skill.name %></span></li>
          <% end %>
          </ul>

    </div><!-- / COLUMN-->
</div><!-- / ROW-->
</section><!-- / SECTION-->