<h2>User Profile: <%= @user.first_name %> <%= @user.last_name %></h2>

<%= @user.bio %><br>
<%= @user.location %><br>

<%= @user.email %><br>


<%= image_tag(@user.image.picture) %><br>

	<b>Skills:</b>
<% @user.skills.each do |skill| %>
	<%= skill.name %>
<% end %><br>

<b>Roles:</b>
<% @user.roles.each do |role| %>
	<%= role.name %>
<% end %><br>