<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being created:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="medium-12 columns">
      <%= f.label "Project Picture" %>
      <%= f.file_field "image_attributes[picture]" %>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="small-4 columns">
          <%= f.label :name, class: :prefix %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :name, placeholder: "The name of your project" %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-4 columns">
          <%= f.label :description, class: :prefix %>
        </div>
        <div class="small-8 columns">
          <%= f.text_area :description, placeholder: "Briefly explain your project", class: "bio-text" %> 
        </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="small-4 columns">
          <%= f.label :status, class: :prefix %>
        </div>
        <div class="small-8 columns">
          <%= f.select(:status, options_for_select(['Open', 'In Progress', 'Finished']), include_blank: true) %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-4 columns">
          <%= f.label :location, class: :prefix %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :location %> 
        </div>
      </div>
      <div class="row collapse">
        <div class="small-4 columns">
          <%= f.label "Github Repository", class: :prefix %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :github_repo %>
        </div>
      </div>
    </div>
  </div>
  <h3>Positions</h3>
  <div class="row">
    <div class="small-12 columns">
      <div class="row" id="positions">
        <%= f.fields_for :positions do |position| %>
          <%= render 'position_fields', :f => position %>
        <% end %>
        <div class="small-12 medium-6 large-4 columns end links">
          <%= link_to_add_association(f, :positions) do %>
            <div class="position-wrapper">
              <div class="new-position">
                <button class="button expand success new-position-button"><i class="fi-plus"></i>Add new position</button>
              </div>
            </div>
          <% end %>
        </div>
      </div> 
    </div>  
  </div>
  <div class="row">
    <div class="small-6 medium-6 columns">
      <%= link_to "Back to Projects", projects_path, class: :button %>
    </div>
    <div class="small-6 medium-6 columns">
      <%= f.submit({class: "button right"})%>
    </div>
  </div>
<% end %>