<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being created:</h2>

        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %> 
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_field :description %> 
  </div>
  <div>
    <%= f.label :status %><br>
    <%= f.text_field :status %> 
  </div>
  <div>
    <%= f.label :location %><br>
    <%= f.text_field :location %> 
  </div>
      <h3>Positions</h3>
      <div id = "Positions">
        <%= f.fields_for :positions do |position| %>
        <%= render 'position_fields', :f => position %>
      </div>
      <div class="links">
        <%= link_to_add_association 'Add Position', f, :positions %>
      </div>
      <% end %>
  <div>
    <%= f.submit({class: :button})%>
  </div>
<% end %>