<div>
<%= Role.find(position_request.position.role_id).name %> <br>
<%= link_to User.find(position_request.applicant_id).first_name, user_path(User.find(position_request.applicant_id)) %>
</div>
<button class="accept">Accept</button>
<button class="reject">Reject</button>

<%= form_tag project_position_path(@project, position_request.position_id), method: 'patch', class: "position-update-form" do %>
      <%= hidden_field_tag 'position[user_id]', position_request.applicant_id %>
      <%= submit_tag %>
<% end %>
