<div class='nested-fields'>
  <div class='field'>
    <%= f.label :description %>
    <br>
    <%= f.text_field :description %>
  </div>
  <div class='field'>
    <%= f.label :role_id %>
    <%= f.collection_select(:role_id, Role.all, :id, :name) %>
  </div>
  <%= link_to_remove_association "Remove position", f %>
</div>