

<div class="medium-4 columns project">
  <div class="profile-card">
 <strong>Position:</strong> <h4> <%= position_request.position.role.name %></h4>
  <strong> Applicant Name: </strong> <%= link_to User.find(position_request.applicant_id).first_name, user_path(User.find(position_request.applicant_id)) %>
  <%= form_tag accept_project_position_request_path(@project, position_request), method: 'POST' do %>
    <%= submit_tag 'Accept',{class: "tiny button accept"} %>
  <% end %>
  <%= form_tag reject_project_position_request_path(@project, position_request), method: 'POST' do %>
    <%= submit_tag 'Reject',{class: "tiny button reject"} %>
  <% end %>
</div>
</div>