<div class="small-12 medium-6 large-4 columns nested-fields">
  <div class="position-wrapper">
    <div class="new-position">
      <div class="row collapse">
        <div class="small-4 columns">
          <%= f.label :role_id, class: :prefix %>
        </div>
        <div class="small-8 columns">
          <%= f.collection_select(:role_id, Role.all, :id, :name) %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-4 columns">
          <%= f.label :description, class: :prefix %>
        </div>
        <div class="small-8 columns">
          <%= f.text_area :description, class: "bio-text" %>
        </div>
      </div>
      <div class="row">
        <!-- <div class="small-6 columns">
          <%# link_to "Duplicate position", nil, class: :button %>  
        </div> -->
        <div class="small-8 columns">
          <%= link_to_remove_association "Remove position", f, class: :button %>
        </div>
      </div>
    </div>
  </div>
</div>
