<% if position.user_id %>
  <div class="filled-position">
  <h1> This position has been filled </h1>
  </div>
<% else %>
  <div class="apply">
  <button>
      <%= position.role.name %>
      <%= position.description %>
      <%= position.user_id %><br>
      <h3>Fill this Position</h3>
    <%= form_tag position_requests_path, method: 'post', class: "position_request_form" do %>
    <%= hidden_field_tag 'position_request[position_id]', position.id %>
      <%= hidden_field_tag 'project_id', @project.id %>
    <% end %>
  </button>
  </div>
<% end %>