<div class="small-12 medium-6 large-4 left columns">
	<div class="project-wrapper">
		<div class="project-card">
			<%= link_to project do %>
				<div class="project-image">
					<%= image_tag project.project_picture %>
				</div>
				<div class="project-info">
					<div class="project-name">
						<%= project.name %>
					</div>
					<div class="row">
						<div class="project-description small-12 columns">
							<%= project.description %>
						</div>
					</div>
					<div class="row extra-info">
						<div class="project-location small-6 left columns">
							<i class="fi-marker"></i><%= project.location %>
						</div>
						<div class="project-owner small-6 right columns">
							by <%= link_to project.owner.first_name, project.owner %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
