<div class="medium-6 columns project">
	<div class="project-card">
		<%= link_to(project) do %>
			<div class="project-image">
				<%= image_tag "project_placeholder.jpg", alt:project.id %>	
			</div>
			<div class="project-name">
				<%= project.name %>
			</div>
			<div class="project-description">
				<%= project.description %>
			</div>
			<div class="project-status">
				<%= project.status %>
			</div>
			<div class="project-location">
				<%= project.location %>
			</div>
		<% end %>
	</div>
</div>
