<%= link_to(project) do %>
      <div class="medium-6 large-4 columns">
        <article class="article-card">
          <img <%= image_tag(project.profile_picture) %>
          <div class="card-content">
            <h4><%= project.name %></h4>
            <p><%= truncate(project.description, :length => 100) %></p>
            <p class="post-location"><a href="#"><%= project.owner.first_name %> | <%= project.location %></a></p>
        </article>
      </div>
<% end %>