<div class="panel">
  <img class="home-logo" src="logo.png" alt="TeamUp">
  <h3 class="subheader">Team Building Made Easy</h1>
  <div class="hero-button">
    <a href="/projects/new" class="button radius">Get Started</a>
  </div>
</div>

<hr>

<div id="search_bar" class="row">
  <div class="small-12 medium-4 large-2 columns">
    <div class="row">
      <div class="small-12 columns">
        <%= link_to "View All Projects", projects_path, class: "button radius expand" %>
      </div>
    </div>
  </div>
  <div class="small-12 medium-8 large-4 columns">
    <div class="row collapse">
      <div class="small-4 columns">
        <%= label_tag(:filter_by_role, nil, class: :prefix) %>
      </div>
      <div class="small-8 columns">
        <%= collection_select(:project, :role_id,  Role.all, :id, :name, prompt: "No Filter") %>
      </div>
    </div>
  </div>
  <div class="small-12 large-6 columns">
    <div class="row collapse"
      <%= form_tag projects_path, id: 'search_form', method: :get do %>
        <div class="small-8 columns">
          <%= text_field_tag :search, params[:search], placeholder: "Find projects" %>
        </div>
        <div class="small-4 columns">
          <%= submit_tag 'Search', class: "button postfix alert" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="projects" class="row">
  <%= render @projects %>
</div>

<div class="row">
  <div class="medium-12 medium-centered columns" id="pagination">
    <%= paginate @projects, :remote => true %>
  </div>
</div>
