<div class="row">
	<div class="small-12 medium-6 columns">
	  <figure class="figure">
	    <%= image_tag(@project.project_picture) %>
	  </figure>
	</div>

	<div class="small-12 medium-6 columns">
		<h1><em><%= @project.name %></em></h1>
		<div class="row">
			<div class="small-12 columns">
			<h3>Description</h3>
				<p><%= @project.description %></p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
			<h3>Status</h3>
				<%= @project.status %>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
			<h3>Location</h3>
				<%= @project.location %>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
			<h3>Creator</h3>
				 <%= link_to @project.owner.first_name, user_path(@project.owner) %>
			</div>
		</div>
	</div>
</div>

<h2>Open Positions</h2>
<div class="row">
	<%= render partial: 'position', collection: @project.positions %>
</div>

<% if (current_user == @project.owner) && (@project.position_requests.count > 0) %>
	<h3>Position requests</h3>
	<div class="row">
		<%= render partial: 'position_request', collection: @project.position_requests %>
	</div>
<% end %>
  
<hr>

<div class="row">
	<div class="small-12 medium-4 columns">
		<%= link_to "Back to Projects", projects_path, class: "button expand" %>
	</div>
	<div class="small-12 medium-4 columns">
		<% if current_user == @project.owner %>
			<%= link_to "Edit this Project", edit_project_path, class: "button expand" %>
	</div>
	<div class="small-12 medium-4 columns">
			<%= link_to "Delete this Project", project_path, method: :delete, class: "button alert right expand" %>
		<% end %>
	</div>
</div>
