<div class="row">
	<h1 class="project-name-1"><%= @project.name %>
		<% if @project.status == "open" %>
			<span class="label status-label">Open</span></h1>
		<% elsif @project.status == "In Progress" %>
			<span class="warning label status-label">In Progress</span></h1>
		<% else @project.status == "finished" %>
			<span class="success label status-label">Completed</span></h1>
		<% end %>
	<h3 class="project-owner-1">
		by <%= link_to @project.owner.first_name, user_path(@project.owner) %> &nbsp &nbsp &nbsp
		<i class="fi-marker"></i><%= @project.location %>
	</h3>
 	
 	<hr>

	<div class="small-12 medium-6 columns">
	  <figure class="figure">
	    <%= image_tag(@project.project_picture) %>
	  </figure>
	</div>
	
	<div class="small-12 medium-6 columns">
		<div class="row">
			<div class="small-12 columns project-show-center ">
			<h3>Description</h3>
				<p><%= @project.description %></p>
				<%= link_to @project.github_repo do %>
					<i class="fi-social-github"></i>
					<span><%= @project.github_repo %></span>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% if (current_user == @project.owner) && (@project.position_requests.count > 0) %>
	<h3>Position requests</h3>
	<div class="row">
		<%= render partial: 'position_request', collection: @project.position_requests %>
	</div>
<% end %>
  
<h2>Open Positions</h2>
<div class="row">
	<%= render partial: 'position', collection: @project.positions %>
</div>

<hr>

<div class="row">
	<div class="small-12 medium-4 columns">
		<%= link_to "Back to Projects", projects_path, class: "button radius expand" %>
	</div>
	<div class="small-12 medium-4 columns">
		<% if current_user == @project.owner %>
			<%= link_to "Edit this Project", edit_project_path, class: "button radius expand" %>
	</div>
	<div class="small-12 medium-4 columns">
			<%= link_to "Delete this Project", project_path, method: :delete, class: "button radius alert right expand" %>
		<% end %>
	</div>
</div>
