<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "TeamUp!" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="contain-to-grid sticky">
  	  <nav class="top-bar" data-topbar role="navigation">
  	    <ul class="title-area">
  	      <li class="name">
  	        <h1><%= link_to "TeamUp", root_path %></h1>
  	      </li>
  	       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  	      <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
  	    </ul>

  	    <section class="top-bar-section">
  	      <!-- Right Nav Section -->
  	      <ul class="right medium-8 columns">
  	        <li class="has-form">
              <div class="row collapse">
                <%= form_tag projects_path, id: 'navbar_search_form', method: :get do %>
                  <div class="medium-6 columns">
                    <%= text_field_tag :navbar_search, params[:search], placeholder: "Find projects" %>
                  </div>
                  <div class="medium-6 columns">
                    <button type="submit" class="alert button tiny postfix">Search</button>
                    <!-- <a href="#" class="alert button expand">Search</a> -->
                  </div>
                <% end %>
              </div>
            </li>
  	        <% if current_user %>
              <li class="has-dropdown not-click">
                <a href="#"><%= image_tag(current_user.profile_picture("small_thumb")) %> <%= current_user.first_name %></a>
                <ul class="dropdown">
                  <li><%= link_to "My Profile", user_path(current_user.id) %></li>
                  <li><%= link_to "Create a Project", new_project_path %></li>
                  <li><%= link_to "Logout", :logout %></li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to "Log in", :login %>
              </li>
              <li>
                <a id="no-hover">or</a>
              </li>
              <li>
                <%= link_to "Sign up", new_user_path %>
              </li>
            <% end %>
  	      </ul>

  	      <!-- Left Nav Section -->
  	      <ul class="left">
            <li>
              <%= link_to "Browse Projects", projects_path %>
            </li>
            <li>
              <%= link_to "Browse Users", users_path %>
            </li>
  	      </ul>
  	    </section>
  	  </nav>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
