<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "TeamUp!" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body data-grid-framework="f4" data-grid-color="blue" data-grid-opacity="0.5" data-grid-zindex="10" data-grid-gutterwidth="30px" data-grid-nbcols="16">

    <div class="contain-to-grid fixed">
  	  <nav class="top-bar small-12" data-topbar role="navigation">
  	    <ul class="title-area">
  	      <li class="name">
  	        <%= link_to root_path do  %>
              <img class="icon-logo" src="/icon.png" alt="TeamUp">
            <% end %>
  	      </li>
  	       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  	      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  	    </ul>

  	    <section class="top-bar-section">
          <ul>
            <li class="has-form">
              <div class="row collapse" style="display: none;"> <!-- -->
                <div class="large-8 medium-8 small-9 columns">
                  <%= text_field_tag :navbar_search, params[:search], placeholder: "Find projects" %>
                </div>
                <div class="large-4 medium-4 small-3 columns">
                  <button id='navbar_search_button' class='alert button radius expand'>Search</button>
                </div>
              </div>
            </li>
          </ul>
  	      <!-- Right Nav Section -->
  	      <ul class="right">
  	        <% if current_user %>
              <li class="has-dropdown">
                <a href="#"><%= image_tag(current_user.profile_picture("small_thumb"), class: "user_thumb") %><%= current_user.first_name %></a>
                <ul class="dropdown">
                  <li><%= link_to "My Profile", user_path(current_user.id) %></li>
                  <li><%= link_to "Create a Project", new_project_path %></li>
                  <li><%= link_to "Logout", :logout %></li>
                </ul>
              </li>
            <% else %>
              <!-- <li class="divider">
              </li> -->
              <li class="top-stuff">
                <%= link_to "Sign up", new_user_path %>
              </li>
              <li class="divider">
              </li>
              <li class="top-stuff">
                <%= link_to "Log in", :login, {id: "login"} %>
              </li>
              <!-- <li class="divider">
              </li> -->
            <% end %>
  	      </ul>

  	      <!-- Left Nav Section -->
  	      <ul class="left">
            <li class="top-stuff">
              <%= link_to "Projects", projects_path %>
            </li>
            <li class="top-stuff">
              <%= link_to "Users", users_path %>
            </li>
  	      </ul>
  	    </section>
  	  </nav>
    </div>

    
    <div class="row content">
      <div class="large-12 medium-12 small-9 small-centered columns">
        <% if flash[:notice] %>
          <div class="flash notice"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:alert] %>
          <div class="flash alert"><%= flash[:alert] %></div>
        <% end %>
        <div id="showlogin">
          <!-- login form goes here -->
        </div>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
